* {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Eulyoo1945", serif;
  overflow: hidden;
}

#grid-container {
  width: 100%;
  height: 88%;
  display: grid;
  grid-template-columns: repeat(56, 1fr);
  grid-auto-rows: calc((100vw / 56) * 1);
  gap: 0;
}

.square {
  background-color: white;
  border: 0.5pt solid var(--primary);
  aspect-ratio: 1 / 1;
}

#digging-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.digging-modal-content {
  position: absolute;
  top: 72%;
  left: 80%;
  padding: 28px;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1.6px solid black;
  text-align: left;
  width: 28%;
}

.digging-modal-content p {
  font-weight: normal;
  font-size: 1.2rem;
  word-break: keep-all;
  line-height: 1.5;
  margin-bottom: 0;
}

#album-modal {
  display: none;
  position: fixed;
  z-index: 1000;
}

#album-image {
  border: 1.6px solid black;
  margin-left: 20px;
}

#title-modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.title-modal-content {
  position: absolute;
  top: 72%;
  left: 80%;
  padding: 28px;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1.6px solid black;
  text-align: left;
  width: 28%;
}

.title-modal-content p {
  font-weight: normal;
  font-size: 1.2rem;
  word-break: keep-all;
  line-height: 1.5;
  margin-bottom: 0;
}

#lyrics-modal {
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.lyrics-modal-content {
  position: absolute;
  top: 50%;
  left: 80%;
  padding: 28px;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1.6px solid black;
  text-align: left;
  width: 28%;
}

.lyrics-modal-content p {
  font-weight: normal;
  font-size: 1.2rem;
  word-break: keep-all;
  line-height: 1.5;
  margin-bottom: 0;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

footer {
  background-color: #ffcbe7;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12%;
}

footer p {
  font-weight: normal;
  font-size: 1.8rem;
  word-break: keep-all;
}

#digging:hover,
#digging:focus {
  cursor: pointer;
}
